.imagebox{
  margin: 10px;
  display: inline-block;
  width:400px;
  background: whitesmoke;
  padding:10px;
  border-radius:10px;
  border:2px dashed black;
  img{
    width:100%;
    border-radius:10px;
    border:2px dashed black;
  }
  p{
    border-radius:10px;
    border:2px dashed black;
    padding:10px;
  }
}