%box-shadow {
  -webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 3px rgba(0, 0, 0, 0.5);
}

%no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}



.image-container {
  @extend %box-shadow;
  margin: 15px;
  display: inline-block;
  padding: 10px;

  img {
    width: 100%;
    height: auto;
    font-family: Garamond, sans-serif;
  }
  figcaption {
    padding: 15px 0;
  }

  &.black {
    background-color: #333;
    color: white;
  }

  &.red {
    background-color: #ff0008;
    color: white;
  }

  &.white {
    background-color: white;
    color: #333;
  }

  &.transparent {
    background-color: transparent;
    color: inherit;
    @extend %no-box-shadow;
  }
  &.small {
    width: 200px;
    height: auto;
    font-size: 12px;
  }
  &.medium {
    width: 400px;
    height: auto;
    font-size: 24px;
  }
  &.large {
    width: 600px;
    height: auto;
    font-size: 36px;
  }
}
